<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="webkit" name="renderer">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="page-title" content="ZIMA">
<meta name="theme-color" content="#2a2e3f">
<meta name="keywords" content="ZIMA, ZIMA官网, ZIMA官網">
<meta name="description" content="ZIMA, ZIMA官网, ZIMA官網">
<title><%= current_page.data.title || 'ZIMA' %></title>
<%= stylesheet_link_tag 'site' %>
<% if content_for?(:assets) %><%= yield_content :assets %><% end %>
</head>

<body>

<div class="main">
  <div class="header-wrapper">
    <div class="header" id="header">
      <div class="container">
        <%= link_to 'ZIMA', '/', class: 'logo' %>
        <label class="menu" for="menu"></label>
        <input type="checkbox" id="menu">
        <ul class="nav">
          <li>
            <%= nav_link_to t(:'nav.products'), '/products/' %>
            <ul>
              <li><%= nav_link_to 'ZIMA Pro', '/products/zima-pro/' %></li>
              <li><%= nav_link_to 'ZIMA Slim', '/products/zima-slim/' %></li>
              <li><%= nav_link_to 'ZIMA Life', '/products/zima-life/' %></li>
              <li><%= nav_link_to 'ZIMA Care', '/products/zima-care/' %></li>
              <li><%= nav_link_to 'ZIMA Plus', '/products/zima-plus/' %></li>
            </ul>
          </li>
          <li><%= nav_link_to t(:'nav.app'), '/app/' %></li>
          <li><%= nav_link_to t(:'nav.partners'), '/partners' %></li>
          <li><%= nav_link_to t(:'nav.contact_us'), '/contact-us' %></li>
        </ul>
      </div>
    </div>
  </div>

  <%= yield %>
</div>

<div class="footer">
  <div class="container">
    <div class="footer-app">
      <div class="footer-title"><%= t(:'footer.app') %></div>
      <div class="footer-app-links">
        <%= link_to 'ZIMA iOS App - Download on the App Store', t(:'link.app_store'),
          class: 'footer-app-link app-store' %>
        <%= link_to 'ZIMA Android App - GET IT ON Google Play', t(:'link.google_play'),
          class: 'footer-app-link google-play' %>
        <%= link_to 'ZIMA Android App - DIRECT DOWNLOAD .APK FILE', t(:'link.apk_file'),
          class: 'footer-app-link download-apk' %>
      </div>
    </div>
    <div class="footer-nav">
      <div class="footer-nav-column">
        <div class="footer-title"><%= nav_link_to t(:'nav.products'), '/products/' %></div>
        <div class="footer-nav-links">
          <%= link_to 'ZIMA Pro', '/products/zima-pro/' %>
          <%= link_to 'ZIMA Slim', '/products/zima-slim/' %>
          <%= link_to 'ZIMA Life', '/products/zima-life/' %>
          <%= link_to 'ZIMA Care', '/products/zima-care/' %>
          <%= link_to 'ZIMA Plus', '/products/zima-plus/' %>
        </div>
      </div>
      <div class="footer-nav-column">
        <div class="footer-title"><%= nav_link_to t(:'nav.app'), '/app/' %></div>
        <div class="footer-nav-links">
          <%= link_to t(:'footer.nav_app.nav_1'), '/app/', anchor: 's1' %>
          <%= link_to t(:'footer.nav_app.nav_2'), '/app/', anchor: 's2' %>
          <%= link_to t(:'footer.nav_app.nav_3'), '/app/', anchor: 's3' %>
          <%= link_to t(:'footer.nav_app.nav_4'), '/app/', anchor: 's4' %>
        </div>
      </div>
      <div class="footer-nav-column">
        <div class="footer-title"><%= nav_link_to t(:'nav.partners'), '/partners/' %></div>
        <div class="footer-nav-links">
        </div>
      </div>
      <div class="footer-nav-column">
        <div class="footer-title"><%= nav_link_to t(:'nav.contact_us'), '/contact-us/' %></div>
        <div class="footer-nav-links">
        </div>
      </div>
    </div>
    <div class="footer-contact">
      <div class="footer-title"><%= t(:'footer.contact') %></div>
      <div class="footer-content"><%= t(:'footer.contact_content') %></div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'site' %>

</body>

</html>
