---
layout: bare
title_key: titles.investment2
keywords_key: keywords.investment2
description_key: descriptions.investment2
---
<% content_for :assets do %>
  <%= stylesheet_link_tag 'pages/utils' %>
  <%= stylesheet_link_tag 'pages/investment' %>
<% end %>

<div id="pic">
  <div class="cut-pic">
    <%= image_tag 'pages/investment-2/pc/image-01.jpg', class: 'width100 public-pc-style' %>
    <%= image_tag 'pages/investment-2/mobile/image-01.jpg', class: 'width100 public-mobile-style' %>
  </div>
  <div class="cut-pic">
    <%= image_tag 'pages/investment-2/pc/image-02.jpg', class: 'width100 public-pc-style' %>
    <%= image_tag 'pages/investment-2/mobile/image-02.jpg', class: 'width100 public-mobile-style' %>
  </div>
  <div class="cut-pic">
    <%= image_tag 'pages/investment-2/pc/image-03.jpg', class: 'width100 public-pc-style' %>
    <%= image_tag 'pages/investment-2/mobile/image-03.jpg', class: 'width100 public-mobile-style' %>
  </div>
  <div class="cut-pic">
    <%= image_tag 'pages/investment-2/pc/image-04.jpg', class: 'width100 public-pc-style' %>
    <%= image_tag 'pages/investment-2/mobile/image-04.jpg', class: 'width100 public-mobile-style' %>
  </div>
  <div class="cut-pic">
    <%= image_tag 'pages/investment-2/pc/image-05.jpg', class: 'width100 public-pc-style' %>
    <%= image_tag 'pages/investment-2/mobile/image-05.jpg', class: 'width100 public-mobile-style' %>
  </div>
  <div class="cut-pic">
    <%= image_tag 'pages/investment-2/pc/image-06.jpg', class: 'width100 public-pc-style' %>
    <%= image_tag 'pages/investment-2/mobile/image-06.jpg', class: 'width100 public-mobile-style' %>
  </div>
  <div class="cut-pic">
    <%= image_tag 'pages/investment-2/pc/image-07.jpg', class: 'width100 public-pc-style' %>
    <%= image_tag 'pages/investment-2/mobile/image-07.jpg', class: 'width100 public-mobile-style' %>
  </div>
  <div class="cut-pic">
    <%= image_tag 'pages/investment-2/pc/image-08.jpg', class: 'width100 public-pc-style' %>
    <%= image_tag 'pages/investment-2/mobile/image-08.jpg', class: 'width100 public-mobile-style' %>
  </div>
  <div class="cut-pic">
    <%= image_tag 'pages/investment-2/pc/image-09.jpg', class: 'width100 public-pc-style' %>
    <%= image_tag 'pages/investment-2/mobile/image-09.jpg', class: 'width100 public-mobile-style' %>
  </div>
  <div class="cut-pic">
    <%= image_tag 'pages/investment-2/pc/image-10.jpg', class: 'width100 public-pc-style' %>
    <%= image_tag 'pages/investment-2/mobile/image-10.jpg', class: 'width100 public-mobile-style' %>
  </div>
  <div class="cut-pic">
    <%= image_tag 'pages/investment-2/mobile/image-11.jpg', class: 'width100 public-mobile-style' %>
  </div>
  <div class="cut-pic">
    <%= image_tag 'pages/investment-2/mobile/image-12.jpg', class: 'width100 public-mobile-style' %>
  </div>
  <div class="cut-pic">
    <%= image_tag 'pages/investment-2/mobile/image-13.jpg', class: 'width100 public-mobile-style' %>
  </div>
  <div class="cut-pic">
    <%= image_tag 'pages/investment-2/mobile/image-14.jpg', class: 'width100 public-mobile-style' %>
  </div>
  <div class="cut-pic">
    <%= image_tag 'pages/investment-2/mobile/image-15.jpg', class: 'width100 public-mobile-style' %>
  </div>
  <div class="cut-pic">
    <%= image_tag 'pages/investment-2/mobile/image-16.jpg', class: 'width100 public-mobile-style' %>
  </div>
  <div class="cut-pic">
    <%= image_tag 'pages/investment-2/mobile/image-17.jpg', class: 'width100 public-mobile-style' %>
  </div>
  <div class="cut-pic">
    <%= image_tag 'pages/investment-2/mobile/image-18.jpg', class: 'width100 public-mobile-style' %>
  </div>
</div>
